/* ------------------------------------------------*/
/* BASIC SETUP                                     */
/* ------------------------------------------------*/
:root {
    --regular-bg: #fff;
    --second-bg:  #f4f4f4;
    --h1-color: #fff;
    --font-color: #555;
    --main-color: #e67e22;
    --main-color-hover: #cf6d17;
    --footer-bg: #333;
    --footer-text: #9B9B9B;
    --footer-text-hover: #ddd
}

/* ------------------------------------------------*/
/* BASIC SETUP                                     */
/* ------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: var(--regular-bg);
    color: var(--font-color);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* After using floats we need to clear the floats. This problem existed
   in section 3 margins, because section-two (meals) used floats to layout
   the images: http://www.positioniseverything.net/easyclearing.html*/ 
.clearfix { zoom: 1 }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------*/
/* REUSABLE COMPONENTS                             */
/* ------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* --------- HEADINGS ----------  */
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: var(--h1-color);
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    background-color: var(--main-color);
    content: " ";
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----------- BOX  ----------- */
.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ---------- ICON  ----------- */
.icon-big {
    font-size: 300%;
    display: block;
    color: var(--main-color);
    margin-bottom: 10px;
    font-weight: 300;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: var(--main-color);
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ------- PARAGRAPHS --------- */
.long-copy {
    line-height: 145%;
    width: 75%;
    margin-left: 15%;
}


/* --------- BUTTONS ---------- */
.btn:link, .btn:visited, input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, font-color 0.2s;
    transition: background-color 0.2s, border 0.2s, font-color 0.2s;
}

.btn-full:link, .btn-full:visited, input[type=submit] {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--regular-bg);
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.btn:hover, .btn:active, 
input[type=submit]:hover, input[type=submit]:active {
    background-color: var(--main-color-hover);
}

.btn-full:hover, .btn-full:active, 
input[type=submit]:hover, input[type=submit]:active {
    border: 1px solid var(--main-color-hover);
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid var(--main-color-hover);
    color: var(--regular-bg);
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* -------- LINKS ---------*/
/* ----- LINKS ----- */

a:link,
a:visited {
    color: var(--main-color);
    text-decoration: none;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: var(--font-color);
    border-bottom: 1px solid transparent;
}

/* ------------------------------------------------*/
/* HEADER                                          */
/* ------------------------------------------------*/
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../../resources/img/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../resources/img/hero-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  /* Image stays fixed while scrolling */
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1140px;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

/* Main navigator */
.main-nav {
    float: right;
    list-style: none;
    margin: 50px;
    margin-left: 0px;
    margin-right: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: var(--regular-bg);
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    padding-bottom: 10px;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--main-color);
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: white;
}

/* Sticky navigator */
.sticky {
    /* Navigation always stays at the top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 1px 1px #FFF;
            box-shadow: 0 1px 1px #FFF;
    z-index: 9999;
}

.sticky .main-nav {
    margin: 18px 0 0 0;
    
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 19px 0;
    color: var(--font-color);
}

.sticky .logo-black {
    display: block;
}

.sticky .logo {
    display: none;
}

/* ------------------------------------------------*/
/* FEATURES                                        */
/* ------------------------------------------------*/
.section-features .long-copy {
    margin-bottom: 40px;
}

/* ------------------------------------------------*/
/* MEALS SHOWCASE                                  */
/* ------------------------------------------------*/
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;    
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    background-color: #000;
    /* Avoid scale in images to overflow the container */
    overflow: hidden;
}

.meal-photo img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.5s;
    transition: opacity 0.2s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    /* Trick to avoid the small padding in the bottom due to scale to
    original size (1) */
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 1;
}

/* ------------------------------------------------*/
/* HOW IT WORKS                                    */
/* ------------------------------------------------*/
.section-steps {
    background-color: var(--second-bg);
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

/* ------------------------------------------------*/
/* CITIES                                          */
/* ------------------------------------------------*/
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* ------------------------------------------------*/
/* TESTIMONIALS                                    */
/* ------------------------------------------------*/
.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.8))), url(../../resources/img/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../../resources/img/back-customers-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--regular-bg);
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    text-align: left;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -6px;
}

cite {
    font-size: 90%;
    margin-top: 10px;
    display: block;
}

cite img {
    height: 45px !important;
    width: auto !important;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ------------------------------------------------*/
/* SIGN UP                                         */
/* ------------------------------------------------*/
.section-plans {
    background-color: var(--second-bg);
}

.plan-box {
    background-color: var(--regular-bg);
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
} 

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: var(--second-bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: none;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box ul li i {
    color: var(--main-color);
    margin-right: 20px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: --main-color
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

/* ------------------------------------------------*/
/* FORM                                            */
/* ------------------------------------------------*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid var(--footer-text);
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/* ------------------------------------------------*/
/* FOOTER                                          */
/* ------------------------------------------------*/
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 50px;
    font-size: 80%;
}

footer a:link, 
footer a:visited {
    text-decoration: none;
    color: var(--footer-text);
}

footer a:hover {
    color: var(--footer-text-hover);
    border: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0px;
}

.footer-nav {
    float: left;
}

footer p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

.social-links {
    float: right;
    font-size: 150%;
}

.social-links a .ion-social-facebook,
.social-links a .ion-social-twitter,
.social-links a .ion-social-googleplus,
.social-links a .ion-social-instagram { 
    -webkit-transition: color 0.2s; 
    transition: color 0.2s;
}

.social-links a:hover .ion-social-facebook,
.social-links a:active .ion-social-facebook {
    color: #3B5998;
}

.social-links a:hover .ion-social-twitter,
.social-links a:active .ion-social-twitter {
    color: #00ACED;
}

.social-links a:hover .ion-social-googleplus,
.social-links a:active .ion-social-googleplus {
    color: #DD4B39;
}

.social-links a:hover .ion-social-instagram, 
.social-links a:active .ion-social-instagram { 
    color: #517FA4;
}

/********************************
 * ANIMATIONS                   *
 ********************************/
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}